# ruff format  --line-length=112 --respect-gitignore ./src ./tests
# ruff check --fix --unsafe-fixes
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.12
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix, --unsafe-fixes ]
    # Run the formatter.
    - id: ruff-format
      args: [ --line-length=112, --respect-gitignore, ./src, ./tests ]