name: Doc Audit

on:
  pull_request:
  push:
    branches: [main, master]

jobs:
  audit:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11.13"
      - name: Run documentation audit
        run: |
          python -m scripts/doc_audit.py
